$primary-color: #259bb0;
$secondary-color: #e78200;
$dark-color: #333333;
$light-color: #f5f5f5;

@mixin button-primary() {
  max-height: 40px;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background: $primary-color;
  color: $light-color;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  &:hover {
    background: $secondary-color;
    transition: ease-in-out 0.15s;
  }
}

@mixin input-primary() {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  &:focus{
    background: #ffe89e;
  }
}
